<?xml version='1.0' encoding='utf-8'?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- Note:  A "Server" is not itself a "Container", so you may not
     define subcomponents such as "Valves" at this level.
     Documentation at /docs/config/server.html

     
 -->
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.startup.MyTestLifecycleListener" />
  <!-- Security listener. Documentation at /docs/config/listeners.html
  <Listener className="org.apache.catalina.security.SecurityListener" />
  -->
  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users
    -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />



      <Resource
              name="jdbc/mysql"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://172.16.157.238:3306/lz_test"
              username="ldd_biz"
              password="Hello1234"
              maxActive="5"
              maxIdle="2"
              maxWait="10000"/>
<!--

      <Resource lookupName="jdbc/mysql" name="myDB" type="javax.sql.DataSource" />
-->

  </GlobalNamingResources>

  <!-- A "Service" is a collection of one or more "Connectors" that share
       a single "Container" Note:  A "Service" is not itself a "Container",
       so you may not define subcomponents such as "Valves" at this level.
       Documentation at /docs/config/service.html
   -->
  <Service name="Catalina">

    <!--The connectors can use a shared executor, you can define one or more named thread pools-->
    <!--
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="150" minSpareThreads="4"/>
    -->


    <!-- A "Connector" represents an endpoint by which requests are received
         and responses are returned. Documentation at :
         Java HTTP Connector: /docs/config/http.html (blocking & non-blocking)
         Java AJP  Connector: /docs/config/ajp.html
         APR (HTTP/AJP) Connector: /docs/apr.html
         Define a non-SSL HTTP/1.1 Connector on port 8080
    -->
    <Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"/>
<!--

    <Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000" URIEncoding="UTF-8"  useIPVHosts="true"
               redirectPort="8443"/>

    <Connector port="8009" protocol="AJP/1.3" redirectPort="8443" maxThreads="200" minSpareThreads="10 " />-->

    <!-- A "Connector" using the shared thread pool-->
    <!--
    <Connector executor="tomcatThreadPool"
               port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443" />
    -->
    <!-- Define an SSL HTTP/1.1 Connector on port 8443
         This connector uses the BIO implementation that requires the JSSE
         style configuration. When using the APR/native implementation, the
         OpenSSL style configuration is required as described in the APR/native
         documentation -->
    <!--
    <Connector port="8443" protocol="org.apache.coyote.http11.Http11Protocol"
               maxThreads="150" SSLEnabled="true" scheme="https" secure="true"
               clientAuth="false" sslProtocol="TLS" />
    -->

    <!-- Define an AJP 1.3 Connector on port 8009 -->
    <Connector port="8009" protocol="AJP/1.3" redirectPort="8443" />


    <!-- An Engine represents the entry point (within Catalina) that processes
         every request.  The Engine implementation for Tomcat stand alone
         analyzes the HTTP headers included with the request, and passes them
         on to the appropriate Host (virtual host).
         Documentation at /docs/config/engine.html -->

    <!-- You should set jvmRoute to support load-balancing via AJP ie :
    <Engine name="Catalina" defaultHost="localhost" jvmRoute="jvm1">
    -->
    <Engine name="Catalina" defaultHost="localhost" >

      <!--For clustering, please take a look at documentation at:
          /docs/cluster-howto.html  (simple how to)
          /docs/config/cluster.html (reference documentation) -->
      <!--
      <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"/>
      -->

      <!-- Use the LockOutRealm to prevent attempts to guess user passwords
           via a brute-force attack -->
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <!-- This Realm uses the UserDatabase configured in the global JNDI
             resources under the key "UserDatabase".  Any edits
             that are performed against this UserDatabase are immediately
             available for use by the Realm.  -->
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

<!--      <Host name="shouji.tmall.com" appBase="shouji">-->
<!--        <Context/>-->
<!--        -->
<!--      </Host>-->

<!--      <Host name="fuzhuang.tmall.com" appBase="fuzhuang">-->

<!--        <Context path="/HelloLuban" docBase="/Users/renyong/IdeaProjects/HelloServlet/target/HelloServlet"/>-->
<!--      </Host>-->
<!--      <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
        <Context docBase ="myApp" path="/myApp" reloadable="true"></Context>
      </Host>-->

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true" >
 <!--       <Alias>examplexx.com</Alias>-->
       <!--   <Context docBase="servelet-test-1.0.war" path="/my-test"></Context>-->


<!--        <Context docBase="servelet-test-1.0.war" path="/my-test"></Context>-->

        <!--    其中 docBase为Web应用的根目录的文件路径，path为Web应用的根请求地址，如上，假如我们的Tomcat 地址为
        http://127.0.0.1 ,那么，Web 应用的根请求地址为http://127.0.0.1:8080/myApp1-->
<!--           <Context docBase="myApp" path="/myApp1" reloadable="true"></Context>-->

            <!-- SingleSignOn valve, share authentication between web applications
                 Documentation at: /docs/config/valve.html -->
        <!--
        <Valve className="org.apache.catalina.authenticator.SingleSignOn" />
        -->


        <!--另外，如果您想把这个特殊的Web应用程序映射为服务器的root URI("/")，如通过访问http://localhost:8080
          能看到你的应用程序，则需要执行一些特殊的步骤
          1. 停止Tomcat
          2. 确定不存在CATALINA_HOME/conf/[EngineName]/[Hostname]/ROOT.xml配置文件
          3. 编辑server.xml文件，并使用<Host>和<Context>看起来如下所示 ，
           -->
  <!--    <Context path="" relaodable="false" docBase="servelet-test-1.0"/>-->


    <!--


        <Context path="/HelloLuban" relaodable="false" docBase="servelet-test-1.0"/>-->

     <!-- 出于明显的安全防护因素考虑，取消下列Value的注释， 以限制访问localhost上的应用程序，你可以增加逗号分割主机列表，基于是常规的表达式
        <Valve className="org.apache.catalina.valves.RemoteAddrValve" allow="localhost" ></Valve>
     -->
<!--        <Context path="/ServletDemoHello##1" docBase="D:\IdeaProjects\ServletDemo\target\classes" />-->
<!--        <Context path="/ServletDemoHello##2" docBase="D:\IdeaProjects\ServletDemo\target\classes" />-->
<!--

        <Context path="/ServletDemo"  docBase="servelet-test-1.0" >
            <ResourceLink global="myDB" name="jdbc/mysql" type="javax.sql.DataSource"  />
            &lt;!&ndash;<ResourceLink global="jdbc/mysql" name="jdbc/mysql" type="javax.sql.DataSource" username="张三" password="123456" />&ndash;&gt;

        </Context>
-->


        <Valve className="org.apache.catalina.valves.ErrorReportValve" showServerInfo ="false" />

        <!-- Access log processes all example.
             Documentation at: /docs/config/valve.html
             Note: The pattern used is equivalent to using pattern="common" -->
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

<!--        <Valve className="com.luban.TestValve"/>-->


      </Host>



    </Engine>

  </Service>

</Server>
